.dashboard {
    position: relative;
}

.secondary-text {
    font-size: var(--font-size-md);
    color: var(--color-text-secondary);
}

.secondary-text.inverse {
    color: var(--color-text-inverse);
}

.dashboard-header {
    margin-bottom: var(--spacing-lg);
}

.dashboard-header h1,
.tasks-header h1 {
    font-size: var(--font-size-3xl);
    margin-bottom: var(--spacing-sm);
}

.dashboard-stats {
    display: flex;
    gap: var(--spacing-lg);
    margin-bottom: var(--spacing-lg);
    user-select: none;
}

.dashboard-stat {
    background: var(--color-surface);
    border-radius: var(--radius-lg);
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-md);
    transition:
        box-shadow var(--transition-fast),
        transform var(--transition-fast);
    width: 100%
}

.dashboard-stat.selected {
    box-shadow: var(--shadow-lg);
    transform: translateY(-2px);
}

.dashboard-stat.pending:hover {
    border-color: var(--color-warning);
}

.dashboard-stat.in_progress:hover {
    border-color: var(--color-primary);
}

.dashboard-stat.done:hover {
    border-color: var(--color-success);
}

.dashboard-stat.pending.selected {
    background: var(--color-warning);
    color: var(--color-text-inverse);
}

.dashboard-stat.in_progress.selected {
    background: var(--color-primary);
    color: var(--color-text-inverse);
}

.dashboard-stat.done.selected {
    background: var(--color-success);
    color: var(--color-text-inverse);
}

.dashboard-stat {
    background: var(--color-surface);
    border: 2px solid transparent;
    border-radius: var(--radius-lg);
    padding: var(--spacing-lg);
    box-shadow: var(--shadow-md);
    transition:
        box-shadow var(--transition-fast),
        transform var(--transition-fast),
        background-color var(--transition-fast),
        border-color var(--transition-fast);
    width: 100%;
    cursor: pointer;
}

.fab-extended {
    position: fixed;
    right: var(--spacing-xl);
    bottom: var(--spacing-xl);

    display: flex;
    align-items: center;
    gap: var(--spacing-sm);

    height: 3.5rem;
    padding: 0 var(--spacing-lg);

    border: none;
    border-radius: var(--radius-full);

    background: var(--color-primary);
    color: var(--color-text-inverse);

    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);

    box-shadow: var(--shadow-lg);
    cursor: pointer;

    transition:
        background-color var(--transition-fast),
        transform var(--transition-fast);
}

.fab-extended:hover {
    background: var(--color-primary-dark);
    transform: translateY(-2px);
}

.delete-confirmation-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
    gap: var(--spacing-md);
}